# macOS
.DS_Store

# Xcode
build/
DerivedData/

# User settings
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives
*.xcarchive

# App signing
*.p12
*.mobileprovision

# Firebase
GoogleService-Info.plist